In [1]:
import numpy as np
import pandas as pd
from utils.coordinateTransform import twd97_to_lonlat, lonlat_to_97
from utils.preprocess import normalizeCol, zScoreCol, discreteMap

In [2]:
def _load_data(data_path):
    df = pd.read_csv(data_path, sep=",")
    ID = df["ID"].unique()
    ID_map = {x : i for i, x in enumerate(ID)}

    city = df["縣市"].unique()
    city_map = {x : i for i, x in enumerate(city)}
    #city_map = discreteMap(df, "縣市", 0.02)

    town = df["鄉鎮市區"].unique()
    town_map = {x : i for i, x in enumerate(town)}
    #town_map = discreteMap(df, "鄉鎮市區", 0.02)

    road = df["路名"].unique()
    road_map = {x : i for i, x in enumerate(road)}

    district = df["使用分區"].unique()
    district_map = {x : i for i, x in enumerate(district)}
#     df["使用分區"] = df["使用分區"].fillna(0)

    use = df["主要用途"].unique()
    use_map = {x : i for i, x in enumerate(use)}

    materials = df["主要建材"].unique()
    materials_map = {x : i for i, x in enumerate(materials)}

    structtype = df["建物型態"].unique()
    structtype_map = {x : i for i, x in enumerate(structtype)}

    note = df["備註"].unique()
    note_map = {x : i for i, x in enumerate(note)}

    cols = df.columns
    cols_map = {x : i for i, x in enumerate(cols)}
    
    df = df.drop(['ID', '備註'], axis=1)
    
    #df["ID"] = df["ID"].map(ID_map)
    df["縣市"] = df["縣市"].map(city_map)
    df["鄉鎮市區"] = df["鄉鎮市區"].map(town_map)
    df["路名"] = df["路名"].map(road_map)
    df["使用分區"] = df["使用分區"].map(district_map)
    df["主要用途"] = df["主要用途"].map(use_map)
    df["主要建材"] = df["主要建材"].map(materials_map)
    df["建物型態"] = df["建物型態"].map(structtype_map)
    #df["備註"] = df["備註"].map(note_map)

    #df[['橫坐標', '縱坐標']] = df[['橫坐標', '縱坐標']].apply(lambda row: pd.Series(twd97_to_lonlat(row['橫坐標'], row['縱坐標'])), axis=1)
    
#     df = normalizeCol(df, ['橫坐標', '縱坐標'])
    
#     df.columns = df.columns.map(cols_map)
#     print(cols_map)
    return df

In [3]:
"""橫坐標: 15, 縱坐標: 16"""
main_df = _load_data("./dataset/training_data.csv")
main_df

,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,建物型態,屋齡,建物面積,車位面積,車位個數,橫坐標,縱坐標,主建物面積,陽台面積,附屬建物面積,單價
0,0,0,0,-0.256716,0,11,11,0,0,0,32.583333,-0.174154,-0.819326,0.0,305266,2768378,0.393926,0.183700,-0.438452,4.627714
1,0,1,1,0.100134,0,7,12,0,0,0,24.166667,0.314204,-0.819326,0.0,300677,2767990,-0.316131,0.608577,-0.438452,1.887258
2,1,2,2,0.181921,0,10,15,1,1,0,6.166667,0.423366,0.161624,1.0,184815,2504666,-0.098871,-0.360620,1.525881,1.489072
3,2,3,3,0.085594,0,9,14,1,0,0,8.833333,0.164249,0.524653,1.0,296653,2772355,-0.071147,0.315088,0.231984,2.051217
4,2,4,4,-0.938116,0,41,43,0,2,0,11.000000,0.985839,0.532377,1.0,297377,2768472,0.791954,1.719400,-0.438452,3.269198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11746,3,22,529,0.706189,2,4,5,0,0,1,28.333333,-0.271825,0.484488,1.0,280165,2758675,0.146962,-0.181455,-0.171559,0.903505
11747,10,52,1815,-0.225809,0,2,7,0,0,2,29.250000,-0.325832,-0.819326,0.0,247333,2743084,-0.181192,-0.067131,-0.163018,1.044041
11748,2,49,265,-0.943908,0,15,17,0,0,0,22.833333,-0.848662,-0.819326,0.0,316680,2773938,-0.901999,-0.495421,-0.171559,2.144908
11749,2,17,855,-1.147111,0,12,16,0,0,0,25.083333,-1.199130,-0.819326,0.0,295794,2763966,-1.333408,-0.708713,-0.438452,2.285444
11750,2,21,666,-0.398154,0,11,27,1,2,0,2.250000,1.217378,0.442779,1.0,300173,2772198,0.823638,0.968614,-0.438452,2.660207

In [5]:
df = pd.read_csv("./dataset/external_data/ATM資料.csv", sep=",")
df[['橫坐標', '縱坐標']] = df[['lng', 'lat']].apply(lambda row: pd.Series(lonlat_to_97(row['lng'], row['lat'])), axis=1)
df['橫坐標'] = df['橫坐標'].round(2)
df['縱坐標'] = df['縱坐標'].round(2)
df

,裝設金融機構代號,裝設金融機構名稱,裝設地點,裝設縣市,裝設地址,lat,lng,橫坐標,縱坐標
0,4,臺灣銀行,第一航廈入境大廳一樓北側,桃園市,桃園市大園區航站南路15號,25.077864,121.235958,273802.65,2774422.71
1,4,臺灣銀行,第二航廈5樓出境大廳,桃園市,桃園市大園區航站南路15號,25.077864,121.235958,273802.65,2774422.71
2,4,臺灣銀行,新明分行,桃園市,桃園市中壢區新明路7號,24.956751,121.214297,271638.76,2761004.28
3,4,臺灣銀行,新明分行行內,桃園市,桃園市中壢區新明路7號,24.956751,121.214297,271638.76,2761004.28
4,4,臺灣銀行,遠翔航空貨運公司,桃園市,桃園市大園區航翔路101號,25.097952,121.254883,275707.54,2776651.23
...,...,...,...,...,...,...,...,...,...
21926,822,中國信託商業銀行,統一中隴,連江縣,連江縣南竿鄉介壽村3鄰48之2號,26.154522,119.955263,145547.39,2894084.29
21927,822,中國信託商業銀行,統一南竿,連江縣,連江縣南竿鄉清水村100號,26.153095,119.937614,143781.50,2893940.59
21928,822,中國信託商業銀行,統一馬祖,連江縣,連江縣南竿鄉介壽村215號,26.155976,119.952051,145227.53,2894247.99
21929,822,中國信託商業銀行,統一馬港,連江縣,連江縣南竿鄉馬祖村中山路58號,26.159677,119.918751,141901.45,2894685.33
21930,822,中國信託商業銀行,統一福澳港,連江縣,連江縣南竿鄉福沃村129號,26.160670,119.943902,144417.01,2894774.66

In [16]:
from scipy.spatial import cKDTree

main_df['生活機能'] = 0
life_function = []

b_coordinates = np.array(df[['橫坐標', '縱坐標']])
b_tree = cKDTree(b_coordinates)
count = 0

for _, row in main_df.iterrows():
    a_coordinates = np.array([row['橫坐標'], row['縱坐標']])
    neighbors = b_tree.query_ball_point(a_coordinates, 300.0)
    count = len(neighbors)
    life_function.append(count)
main_df['生活機能'] = life_function

main_df

,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,建物型態,...,建物面積,車位面積,車位個數,橫坐標,縱坐標,主建物面積,陽台面積,附屬建物面積,單價,生活機能
0,0,0,0,-0.256716,0,11,11,0,0,0,...,-0.174154,-0.819326,0.0,305266,2768378,0.393926,0.183700,-0.438452,4.627714,14
1,0,1,1,0.100134,0,7,12,0,0,0,...,0.314204,-0.819326,0.0,300677,2767990,-0.316131,0.608577,-0.438452,1.887258,4
2,1,2,2,0.181921,0,10,15,1,1,0,...,0.423366,0.161624,1.0,184815,2504666,-0.098871,-0.360620,1.525881,1.489072,7
3,2,3,3,0.085594,0,9,14,1,0,0,...,0.164249,0.524653,1.0,296653,2772355,-0.071147,0.315088,0.231984,2.051217,7
4,2,4,4,-0.938116,0,41,43,0,2,0,...,0.985839,0.532377,1.0,297377,2768472,0.791954,1.719400,-0.438452,3.269198,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11746,3,22,529,0.706189,2,4,5,0,0,1,...,-0.271825,0.484488,1.0,280165,2758675,0.146962,-0.181455,-0.171559,0.903505,2
11747,10,52,1815,-0.225809,0,2,7,0,0,2,...,-0.325832,-0.819326,0.0,247333,2743084,-0.181192,-0.067131,-0.163018,1.044041,3
11748,2,49,265,-0.943908,0,15,17,0,0,0,...,-0.848662,-0.819326,0.0,316680,2773938,-0.901999,-0.495421,-0.171559,2.144908,9
11749,2,17,855,-1.147111,0,12,16,0,0,0,...,-1.199130,-0.819326,0.0,295794,2763966,-1.333408,-0.708713,-0.438452,2.285444,7
11750,2,21,666,-0.398154,0,11,27,1,2,0,...,1.217378,0.442779,1.0,300173,2772198,0.823638,0.968614,-0.438452,2.660207,5